
@utility float-top-left {
  @apply absolute inline-flex items-center justify-center;
  inset: 0 auto auto 0;
  translate: -50% -50%;
}

@utility float-top-center {
  @apply absolute inline-flex items-center justify-center;
  inset: 0 auto auto 50%;
  translate: -50% -50%;
}

@utility float-top-right {
  @apply absolute inline-flex items-center justify-center px-2;
  inset: 0 0 auto auto;
  translate: 50% -50%;
}

@utility float-middle-left {
  @apply absolute inline-flex items-center justify-center;
  inset: 50% auto 50% 0;
  translate: -50% -50%;
}

@utility float-middle-center {
  @apply absolute inline-flex items-center justify-center;
  inset: 50% auto 50% 50%;
  translate: -50% -50%;
}

@utility float-middle-right {
  @apply absolute inline-flex items-center justify-center;
  inset: 50% 0 50% auto;
  translate: 50% -50%;
}

@utility float-bottom-left {
  @apply absolute inline-flex items-center justify-center;
  inset: auto auto 0 auto;
  translate: -50% 50%;
}

@utility float-bottom-center {
  @apply absolute inline-flex items-center justify-center;
  inset: auto auto 0 50%;
  translate: -50% 50%;
}

@utility float-bottom-right {
  @apply absolute inline-flex items-center justify-center;
  inset: auto 0 0 auto;
  translate: 50% 50%;
}
