@utility bg-* {
  --bg-opacity: 100%;
  --bg-opacity: --modifier(integer)%;

  --bg-currentcolor: --alpha(--value('current')color / var(--bg-opacity, 100%));

  --bg-currentcolor: --alpha(--value(--color-*, [*]) / var(--bg-opacity, 100%));
  --bg-contrast: oklch(from --value(--color-*, [*]) calc(1 - min(1, max(0, (l - 0.68) * 30))) 0.02 h);
  background-color: var(--bg-currentcolor);
}

@utility bg-opacity-* {
  --bg-opacity: --value(integer)%;
}

@utility repeat-* {
  animation-iteration-count: --value("infinite", "normal", integer);
}

@utility text-contrast {
  color: var(--bg-contrast);
}
