:where(.btn) {
  @layer components {
    width: unset;
  }
}

@utility btn-* {
  @apply color-contrast-(--btn-color);
  --btn-color: --value(--color- *, [ *]);
}

@utility btn {
  @apply inline-flex items-center border justify-center select-none relative whitespace-nowrap align-middle cursor-pointer shrink-0 isolate font-semibold transition-colors duration-300 flex-nowrap text-center ease-out rounded-sm touch-manipulation;

  --depth: 1;
  color: var(--btn-fg, var(--color-contrast, var(--color-base-content)));
  outline-color: var(--btn-color);
  background-color: var(--btn-bg);
  border-color: var(--btn-border);
  text-shadow: 0 0.5px oklch(100% 0 0 / calc(var(--depth) * 0.15));
  --btn-shadow: 0 3px 2px -2px color-mix(in oklab, var(--btn-bg)
          calc(var(--depth) * 30%), #0000),
    0 4px 3px -2px color-mix(in oklab, var(--btn-bg) calc(var(--depth) * 30%), #0000);
  --btn-noise: var(--fx-noise);
  box-shadow: 0 0.5px 0 0.5px oklch(100% 0 0 / calc(var(--depth) * 6%)) inset,
    var(--btn-shadow);
  --btn-bg: var(--btn-color, var(--color-base-200));
  --btn-border: color-mix(
    in oklab,
    var(--btn-bg),
    #000 calc(var(--depth) * 5%)
  );

  @media (hover: hover) {
    &:hover {
      --btn-bg: color-mix(
        in oklab,
        var(--btn-color, var(--color-base-200)),
        #000 7%
      );
    }
  }

  .btn:disabled,
  .btn[disabled] {
    box-shadow: none;
    @apply pointer-events-none opacity-60;
    --btn-border: #0000;
    --btn-noise: none;
  }

  &:active {
    translate: 0 0.5px;
    --btn-bg: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-200)),
      #000 5%
    );
    --btn-border: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-200)),
      #000 7%
    );
    --btn-shadow: 0 0 0 0 oklch(0% 0 0/0), 0 0 0 0 oklch(0% 0 0/0);
  }

  &:is(input[type="checkbox"], input[type="radio"]) {
    @apply appearance-none;

    &[aria-label]:after {
      @apply content-[attr(aria-label)];
    }
  }

  &:where(input:checked) {
    --btn-color: var(--color-neutral);
    --btn-fg: var(--color-neutral-content);
  }
}

@utility btn-xs {
  @apply h-6 min-w-6 gap-1 px-2 text-[.6875rem] leading-4;
}

@utility btn-sm {
  @apply h-8 min-w-8 gap-2 px-3 text-sm;
}

@utility btn-md {
  @apply h-9 min-w-9 gap-2 px-4 text-sm;
}

@utility btn-lg {
  @apply h-10 min-w-10 gap-3 px-5 text-md;
}

@utility btn-xl {
  @apply h-12 min-w-12 gap-2.5 px-5 text-lg;
}

@utility btn-link {
  @apply h-auto min-w-0 rounded-xs p-0 decoration-current/20 underline-offset-3 hover:underline active:opacity-85;
  --btn-border: #0000;
  --btn-bg: #0000;
  --btn-noise: none;
  --btn-shadow: "";
  &:is(:hover, :active:focus, :focus-visible) {
    --btn-border: #0000;
    --btn-bg: #0000;
  }
}

@utility btn-ghost {
  --btn-shadow: "";
  --btn-bg: #0000;
  --btn-border: #0000;
  --btn-noise: none;
  &:not(*:hover) {
    --btn-fg: var(--btn-color);
  }
}

@utility btn-outline {
  --btn-shadow: "";
  --btn-bg: #0000;
  --btn-border: var(--btn-color);
  --btn-noise: none;
  &:not(*:hover) {
    --btn-fg: var(--btn-color);
  }
}

@utility btn-soft {
  --btn-shadow: "";
  --btn-bg: color-mix(
    in oklab,
    var(--btn-color, var(--color-base-200)) 8%,
    var(--color-base-100)
  );
  --btn-border: color-mix(
    in oklab,
    var(--btn-color, var(--color-base-200)) 10%,
    var(--color-base-100)
  );
  --btn-noise: none;
  &:not(*:hover) {
    --btn-fg: var(--btn-color);
  }
}
