@utility avatar {
  @apply relative inline-flex align-middle;

  & > div {
    @apply block aspect-square overflow-hidden;
  }

  img {
    @apply h-full w-full object-cover;
  }
}

@utility avatar-group {
  @apply flex overflow-hidden;

  .avatar {
    @apply overflow-hidden rounded-full;
    border: 4px solid var(--bg-currentcolor);
  }
}

@utility avatar-placeholder {
  & > div {
    @apply flex items-center justify-center;
  }
}

@utility avatar-badge {
  @apply grow-0 shrink-0 bg-success absolute z-1 block rounded-full float-bottom-right;
  width: 15%;
  height: 15%;
  outline: 2px solid var(--color-base-100);
}
