@utility card {
  @apply flex flex-col relative rounded-md overflow-hidden w-fit;

  figure {
    @apply flex items-center justify-center;
  }
}

@utility card-body {
  @apply flex flex-auto flex-col gap-2 p-6 text-sm;

  :where(p) {
    @apply grow;
  }
}

@utility card-overlay {
  @apply absolute inset-0;
}

@utility card-title {
  @apply font-semibold text-lg;
}

@utility card-action {
  @apply flex flex-wrap items-start gap-2;
}

@utility card-xs {
  .card-body {
    @apply p-4 text-[0.6875rem] leading-3;
  }

  .card-title {
    @apply text-sm;
  }
}

@utility card-sm {
  .card-body {
    @apply p-4 text-xs;
  }

  .card-title {
    @apply text-md;
  }
}

@utility card-md {
  .card-body {
    @apply p-6 text-sm;
  }

  .card-title {
    @apply text-lg;
  }
}

@utility card-lg {
  .card-body {
    @apply p-8 text-md;
  }

  .card-title {
    @apply text-xl;
  }
}

@utility card-xl {
  .card-body {
    @apply p-4 text-lg;
  }

  .card-title {
    @apply text-[1.375rem] leading-7.5;
  }
}
