@utility status {
  @apply bg-base-content/20 rounded-lg inline-block aspect-square size-2 align-middle text-black/30;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 35% 30%, oklch(1 0 0 / 0.5), #0000);
  box-shadow: 0 2px 3px -1px color-mix(in oklab, currentColor 100%, #0000);
}
