@utility input-* {
  --input-color: --value(--color- *, [ *]);
}

@utility input {
  cursor: text;
  border: var(--border) solid #0000;
  @apply rounded-md relative inline-flex shrink appearance-none items-center text-start gap-2 px-3 align-middle whitespace-nowrap;
  width: clamp(3rem, 20rem, 100%);
  height: var(--size);
  font-size: max(var(--font-size, 0.875rem), 0.875rem);
  touch-action: manipulation;
  border-color: var(--input-border);
  color: var(--input-color);
  --size: calc(var(--size-field, 0.25rem) * 10);
  --input-color: var(--color-base-content);
  --input-border: color-mix(in oklab, var(--input-color) 20%, #0000);
  &:where(input) {
    @apply inline-flex;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: all var(--duration, 300ms)
      var(--tw-ease, cubic-bezier(0.4, 0, 0.2, 1)) allow-discrete;
  }

  :where(input) {
    @apply inline-flex h-full w-full appearance-none;
    /* background: none; */
    /* border: none; */

    &:focus,
    &:focus-within {
      @apply outline-hidden;
    }
  }

  :where(input[type="url"]),
  :where(input[type="email"]) {
    direction: ltr;
  }

  :where(input[type="date"]) {
    @apply inline-flex;
  }

  &:is([data-invalid], [aria-invalid="true"], [data-state="invalid"]),
  &:has(
      input:is([data-invalid], [aria-invalid="true"], [data-state="invalid"])
    ) {
    --input-border: var(--color-error);
    &:focus,
    &:focus-within {
      --input-border: var(--color-error);
    }
  }

  &:focus-visible {
    outline-offset: 0px;
  }

  &:focus,
  &:focus-within {
    --input-border: var(--input-color);
    @apply outline-2;
    outline-color: var(--input-border);
    isolation: isolate;
    z-index: 1;
  }

  /* increase font size in iOS so the page won't zoom */
  @media (pointer: coarse) {
    @supports (-webkit-touch-callout: none) {
      &:focus,
      &:focus-within {
        --font-size: 1rem;
      }
    }
  }

  &:has(> input[disabled]),
  &:is(:disabled, [disabled]),
  fieldset:disabled & {
    @apply border-base-200 bg-base-200 text-base-content/40 placeholder-base-content/20 cursor-not-allowed;
    box-shadow: none;
  }

  &:has(> input[disabled]) > input[disabled] {
    @apply cursor-not-allowed;
  }

  &::-webkit-date-and-time-value {
    text-align: inherit;
  }

  &[type="number"] {
    &::-webkit-inner-spin-button {
      @apply -my-3 -me-3;
    }
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    inset-inline-end: 0.75em;
  }

  &:has(> input[type="date"]) {
    :where(input[type="date"]) {
      @apply inline-flex;
      -webkit-appearance: none;
      appearance: none;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      inset-inline-end: 0.75em;
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
  }
}

@utility input-ghost {
  --input-border: #0000;
  background-color: #0000;
  box-shadow: none;

  &:focus,
  &:focus-within {
    /* @apply text-base-content bg-base-100;
    border-color: #0000;
    box-shadow: none; */
  }
}

@utility input-soft {
  background-color: color-mix(
    in oklab,
    var(--input-color, var(--color-base-200)) 8%,
    var(--color-base-100)
  );
  --input-border: color-mix(
    in oklab,
    var(--input-color, var(--color-base-200)) 10%,
    var(--color-base-100)
  );
  --input-noise: none;
}

@utility input-flushed {
  @apply rounded-none p-0;
  border: #0000;
  border-bottom: 1px solid var(--input-border);
  background-color: #0000;
  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: none;
    box-shadow: 0 2px 0 0 var(--input-border);
  }
  --input-noise: none;
}

@utility input-xs {
  --size: calc(var(--size-field, 0.25rem) * 6);
  font-size: max(var(--font-size, 0.6875rem), 0.6875rem);

  &[type="number"] {
    &::-webkit-inner-spin-button {
      @apply -my-1 -me-3;
    }
  }
}

@utility input-sm {
  --size: calc(var(--size-field, 0.25rem) * 8);
  font-size: max(var(--font-size, 0.75rem), 0.75rem);

  &[type="number"] {
    &::-webkit-inner-spin-button {
      @apply -my-2 -me-3;
    }
  }
}

@utility input-md {
  --size: calc(var(--size-field, 0.25rem) * 10);
  font-size: max(var(--font-size, 0.875rem), 0.875rem);

  &[type="number"] {
    &::-webkit-inner-spin-button {
      @apply -my-3 -me-3;
    }
  }
}

@utility input-lg {
  --size: calc(var(--size-field, 0.25rem) * 12);
  font-size: max(var(--font-size, 1.125rem), 1.125rem);

  &[type="number"] {
    &::-webkit-inner-spin-button {
      @apply -my-3 -me-3;
    }
  }
}

@utility input-xl {
  --size: calc(var(--size-field, 0.25rem) * 14);
  font-size: max(var(--font-size, 1.375rem), 1.375rem);

  &[type="number"] {
    &::-webkit-inner-spin-button {
      @apply -my-4 -me-3;
    }
  }
}
